*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

.detalle{
    color: white;
    border-radius: 5px;
    width: 100px;
    height: 20px;
    padding: 8px 20px;
    background-color: red;
    box-shadow: inset;
}

.detalle:hover{
    color: red;
    background-color: white;
    transform: scale(1.2);
}

.botones{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contenedor-detalle{
    display: flex;
    justify-content: center;
}